* {margin: 0;padding: 0;box-sizing: border-box;}
ul,li {list-style: none;}
a,a:link,a:visited {text-decoration: none; color: #333;}
html,body {
    width: 100%;
    height: 100%;
}
$Footer: #333;
$ColorW: #fff;
/*body*/
$TitleFont : 40px;
$TitleColor : #333;
$BodyFont : 18px;
$inner : 90%;
.container {
    width: 100%;
    height: 85vh;
}
.inner {
    width: $inner;
    margin: 0 auto;
}