* {margin: 0;padding: 0;box-sizing: border-box;}
ul,li {list-style: none;}
a,a:link,a:visited {text-decoration: none; color: #333;}
html,body {
    width: 100%;
    height: 100%;
}
$Footer: #333;
$ColorW: #fff;
$Default : 16px;
$Radius : 10px;
/*body*/
$TitleFont : 40px;
$TitleColor : #333;
$primary : #ff5656;
$BodyFont : 18px;
$inner : 90%;
.container {
    width: 100%;
    height: auto;
    min-height: 780px;
    .inner {
        width: $inner;
        height: 600px;
        margin: 0 auto;
        
    }
}
.tabMenuWrap {
    display: flex;
    gap :20px;
    padding: $Default;
    li {
        background: #333;
        padding: $Default;
        border-radius: $Radius;
        color: $ColorW;
        cursor: pointer;
        &.active{
            background: $primary;
        }
    }
}
.pagination {
    display: flex;
    ul li {
        display: flex;
        background: #333;
    }
}